.page {
    display: grid;
    grid-template-columns: 240px minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas: 
        "header header"
        "sidebar map"
        "sidebar data";
    height: 100%;
    gap: var(--space-md);
    padding: var(--space-md);
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    overflow: auto;
}

.map {
    grid-area: map;
    overflow: hidden;
}

.data {
    grid-area: data;
    overflow: auto;
}